<!DOCTYPE html>
<head>
    <style>
        .nav-link {
            color: black;
        }

        .sidebar {
            width: 250px;
            background-color: #ffffff;
            color: white;
            padding: 20px;
            position: sticky;
        }

    </style>
</head>
<body>
<div>
    <div class="sidebar">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li>
                <a href="/admin/notices" class="nav-link py-3 border-bottom rounded-0" title="공지사항 관리" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    공지사항 관리
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="공지사항 관리">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/admin/frees" class="nav-link py-3 border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    자유 게시판 관리
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/admin/galleries" class="nav-link py-3 border-bottom rounded-0" title="Orders" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    갤러리 게시판 관리
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Orders">
                        <use xlink:href="#table"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/admin/qnas" class="nav-link py-3 border-bottom rounded-0" title="Products" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    문의 게시판 관리
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products"></svg>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>

</html>